/* CSS for Mission Bell Manufacturing, Inc.
 * Author: Marc Ripley (http://marcripley.com)
 * Colors: #660000 (dark red),#990000 (brighter red), #034c95 (dark blue), #c6deff (light blue), #030 (dark green)
		   #888s and #444s for grays, mostly #f6f6f6 for whitishs
 */

/* Universal reset */
html,body,div,span,applet,object,iframe,caption,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {vertical-align: baseline;font-size: 100%;outline: 0;padding: 0;margin: 0;border: 0;}
html {min-height: 100%;border-bottom: 1px solid transparent;}
body {background: #ffffff;line-height: 14px;color: #222222;font-size: 12px;font-family: Tahoma, Geneva, sans-serif;line-height: 18px;}
img {border: none;text-decoration: none;}
a {outline: none;cursor: pointer;}
a:link, a:visited, a:active {text-decoration: none;}
a:hover {text-decoration: none;}
/* HTML5 tags */
header, section, footer, aside, nav, article, figure {display: block;}


/*************** Main Styles */
.clear {clear: both;}
h2 {margin-bottom: 10px;padding: 0 0 8px 0;font-size: 22px;color: #660000;border-bottom: 2px solid #888;}
h3 {margin-bottom: 8px;font-size: 16px;color: #444;}
h4 {margin-bottom: 6px;font-size: 14px;border-bottom: 1px solid #990000;color: #565656;}
p {margin-bottom: 8px;}
a {color: #034c95;}
.left {float: left;margin-right: 8px;}
.right {float: right;margin-left: 8px;}
.spotlight {padding: 8px;-moz-border-radius: 15px;border-radius: 15px;font-size: 14px;background: #f6f6f6;color: #660000;}
.spotlight span {font-weight: bold;color: #444;}
.spotlight2 {padding-top: 20px;font-size: 14px;color: #444;}
sup {vertical-align: super;font-size: smaller;}
::-moz-selection {background: #cc0000;color: #ffffff;}
::selection {background: #aa0000;color: #ffffff;}


/********** Header */
header {height: 160px;background: #ffffff;}

/***** Branding */
div#branding {margin-top: 10px;height: 100px;}
hgroup#logo {background: #ffffff url('../images/logo.png') no-repeat 0 0;height: 100px;}
hgroup#logo h1 a {display: block;width: 100px;height: 100px;}
h1#missionBell {text-indent: -9999px;}
h1#missionBell span {display: none;font-size: 36px;line-height: 32px;color: #660000;}
hgroup#tagline h2 {margin-top: -4px;font-size: 14px;line-height: 21px;border-bottom: 0px !important;}
hgroup#tagline h2 a {color: #660000;}
hgroup#tagline h2 span {color: #a2a2a2;}

/***** Tools */
div#tools {float: right;margin-top: 10px;height: 100px;}

/* Social Media Nav */
div#socialMedia {float: right;margin-top: -2px;}
div#socialMedia ul {list-style: none;}
div#socialMedia ul li {display: inline;float: right;margin-left: 10px;}
div#socialMedia ul li a img {opacity: .5;}
div#socialMedia ul li a span {display: none;}
p#connect {font-size: 14px;margin-top: 8px;font-weight: bold;color: #767676;opacity: .5;}

/* Search */
div#search {margin-top: 4px;padding: 7px 0;-moz-border-radius: 15px;border-radius: 15px;text-indent: 18px;font-size: 15px;font-weight: bold;background: #f6f6f6;color: #888888;}
div#search img {margin-right: 8px;}
input#searchInput {rloat: right;background: #f6f6f6;border: 0px;font-size: 15px;font-weight: bold;color: #888888;}
input#searchInput:focus {outline-width: 0;color: #000;}

/***** Header Navigation */

/* Main Navigation */
div#headerNav {margin-top: 0;height: 40px;}
nav#mainNav ul {list-style: none;}
nav#mainNav ul li {position: relative;display: inline;font-size: 18px;}
nav#mainNav ul li a {display: inline-block;padding: 10px 14px 10px 0;color: #660000;}
nav#mainNav ul li a:hover {color: #444444;}
nav#mainNav ul li a img {margin: 0 0 -2px 6px;}
ul.mainSubNav {display: none;position: absolute;top: 30px;left: 0;width: 220px;list-style: none;z-index: 9002;background: #ffffff;border-left: 1px solid #660000;}
ul.mainSubNav li {clear: both;}
ul.mainSubNav li a {display: block !important;width: 200px;font-size: 14px;padding: 6px 10px 6px 10px !important;border-top: 1px solid #f6f6f6;border-bottom: 1px solid #d6d6d6;}
ul.mainSubNav li a:hover {background: #f6f6f6;color: #444444;}
span.mSNSArrow {float: right;color: #d6d6d6;}
ul.mainSubNavSubbee {display: none;position: absolute;top: -32px;left: 220px;width: 280px;list-style: none;z-index: 9003;background: #ffffff;border-left: 1px solid #660000;}
ul.mainSubNavSubbee li {clear: both;}
ul.mainSubNavSubbee li a {display: block !important;width: 260px;font-size: 14px;padding: 6px 10px 6px 10px !important;border-top: 1px solid #f6f6f6;border-bottom: 1px solid #d6d6d6;}
ul.mainSubNavSubbee li a:hover {background: #f6f6f6;color: #444444;}

/* Feature Headline */
div#headline {margin-top: -8px;opacity: .6;}
div#headline p {font-size: 11px;}
#feedbackDesc {width: 254px;color: #222;}
#feedbackDesc a {color: #660000;}
#feedbackButton {margin-top: 2px;margin-right: 24px;padding: 6px 3px 5px 3px;font-size: 14px;line-height: 22px;background: #660000;color: #f6f6f6;}
#feedbackButton span {padding: 4px 10px 4px;border: 1px dashed #cc6666;}
div#headline ul.bjqs-controls li a {color: #444 !important;padding: 0;}

/********** Main Content */

/***** Home */
section#mainHome {padding-top:0px;}
section#modules {margin-top: 10px;margin-bottom: 20px;}
section#modules h3 {color: #565656;border-bottom: 1px solid #990000;margin: 0 0 8px 0;}
section#modules h3 a {color: #565656;}
div.fpAlpha aside {margin-left: 0;}
div.fpOmega aside {margin-right: 0;}

/* Slider */
img.sliderNav {opacity: 0.4;}

/* Shadowbox */
#sb-container {z-index: 9012;}

/***** Projects */
section#mainProjects {background: #ffffff;}
h2.mainProjectsTitle {margin-bottom: 10px;padding-bottom: 6px;font-size: 18px;color: #660000;border-bottom: 2px solid #888;}
p.invalidTag {margin: 10px;padding: 6px;font-weight: bold;color: #444;background: #c6deff;border: 1px solid #888;}
p.invalidTag span {color: #880000;}
div.projectGroup {margin-bottom: 14px;}
div.projectGroup h2 {margin-bottom: 10px;padding: 0 0 4px 10px;font-size: 22px;color: #660000;border-bottom: 2px solid #888;}
div.projectModule {margin-bottom: 10px;)}
div.projectModule h3 {font-size: 12px;color: #888;border-bottom: 1px solid #990000;margin: -4px 0 2px 0;}
div.projectModule p {margin: 0;}
div.projectModule p span {color: #888;}

/* Project Single */
section#psContent {margin: 10px;}
h2#psTitle {font-size: 18px;line-height: 20px;margin-bottom: 4px;padding-bottom: 4px;color: #660000;border-bottom: 1px solid #888;}
h2#psTitle::first-line {font-size: 26px;line-height: 26px;}
div.psInfo h3 {font-size: 14px;line-height: 16px;color: #660000;margin-bottom: 0 !important;}
div.psInfo p {margin-bottom: 4px !important;}
div.psDesc p {margin: 14px 0 10px 0 !important;}

/***** Articles */
article.mainArticle h2 {margin-bottom: 10px;padding: 0 0 8px 0;font-size: 22px;color: #660000;border-bottom: 2px solid #888;}
article.mainArticle h3 {margin: 20px 0 8px 0;font-size: 16px;color: #444;}
article.mainArticle p {margin-bottom: 8px;}
img.imgLeft {float: left;margin: 4px 8px 0 0;padding: 6px;border: 1px solid #d6d6d6;}
img.imgRight {float: right;margin: 4px 0 0 8px;padding: 6px;border: 1px solid #d6d6d6;}

/***** Subsections */
ul.sectionList {list-style: none;}
ul.sectionList li {clear: left;height: 177px;margin: 10px 0 10px 0;font-size: 13px;color: #444;}
ul.sectionList li p {padding-top: 7px;}

/***** Custom Content */
ul.capList {list-style: none;}
ul.capList li {margin: 4px;}
a.capTitle {font-size: 20px;line-height: 52px;font-weight: bold;color: #888;}
a.capTitle:hover {color: #444;}
ul.capListSub {margin-left: 20px;list-style: circle;font-size: 12px;}
.quotesList {margin-left: 10px;list-style: none;font-size: 18px;line-height: 24px;color: #888;}
.quotesList li {margin: 30px 0 20px 0;}
.quotesList li span {font-family: Georgia, sans;font-style: italic;color: #444;}

/***** Search Page */
a.sphTitle {font-size: 17px;color: #034c95;text-decoration: underline;}
div.sphDescription {font-size: 14px;}
div#sphResultReport {margin-bottom: 10px;color: #888;}
div#sphDidYouMean {margin-bottom: 10px;font-size: 18px;}
h2.mbProjectSearchTitle {margin-bottom: 10px;padding-bottom: 6px;font-size: 18px;color: #660000;border-bottom: 2px solid #888;}
h2.mbProjectSearchTitle span {color: #034c95;font-weight: normal;}

/****** Careers Page */
section.jobOpenings {margin: 40px 10px 10px;font-size: 16px;line-height: 22px;}
a.jobOpenTitle {font-weight: bold;text-decoration: underline;}

/****** Contact Page */

/* Contact Form */
div.contactFormItem {margin: 10px;padding: 7px 0;-moz-border-radius: 15px;border-radius: 15px;text-indent: 18px;font-size: 15px;font-weight: bold;background: #f6f6f6;color: #888888;}
div.contactFormDrop {margin: 10px;color: #888;}
.contactInput {background: #f6f6f6;border: 0px;font-size: 15px;font-weight: bold;color: #888888;}
.contactInput:focus {outline-width: 0;color: #000;}
div.shortInput {width: 400px;}
textarea {font-family: Arial, Geneva, sans-serif;}
select {padding: 2px;}
input#contactSubmit {width: 220px;margin: 4px 0 20px 16px;padding: 6px;background: #ccc;color: #f6f6f6;border: 0;}
p.hideMe {display: none !important;}
input.error {border: 1px solid #660000;}
div.success {font-size: 14px;margin: 10px 0 10px 0;padding: 14px;background: #c6deff;font-weight: bold;color: #222;border: 2px solid #034c95;}
p.successMsg {margin: 0 !important;}

/* Addresses */
div.vcard {font-size: 14px;margin-top: 20px;}
span.fnTitle {font-size: 18px;font-weight: bold;color: #660000;}
span.fnCompany {font-size: 16px;font-weight: bold;color: #888;}
p.phone {font-size: l8px;}
span.tel {font-weight: bold;}

/********** Modules */
.sideModule {margin-bottom: 26px;}
.sideModule h4 a {color: #565656;}
.rightModule {float: right !important;}
aside#psSideFeature {margin-top: 10px;margin-bottom: 10px;}
aside#psSideFeature h3 {color: #565656;border-bottom: 1px solid #990000;margin-bottom: 8px;}
.psSideFeature aside {margin-top: 10px;margin-bottom: 10px;}
.sideNav h2 a {color: #660000;}
nav.sideNav ul {list-style: none;margin-left: 6px;font-size: 17px;line-height: 22px;}
nav.sideNav ul li a {color: #444;}
nav.sideNav ul li a:hover {text-decoration: underline;}
.projectSpot {margin-top: 100px;}

/********** Error Pages */
div.error {font-size: 14px;margin: 10px 10px 20px 10px;padding: 10px;background: #f6f6f6;}
div.error a {color: #000;}
.errorMsg {margin: 12px;font-weight: bold;color: #990000;}
div#errorSubstitute h1 {font-size: 16px;margin-bottom: 10px;}

/********** Footer */
footer {margin: 20px 0 40px;text-align: right;color: #767676;}

/********** Reclaimed */
h2.reclaimedSubtitle {margin-top: 20px !important;margin-bottom: 10px !important;padding-bottom: 6px !important;font-size: 18px !important;color: #003300 !important;border-bottom: 2px solid #888;}
ul.recList {list-style: circle;font-size: 14px;line-height: 20px;}
ul.recList span {font-weight: bold;color: #003300;}

/********** Project Creator */
div#creatorLogin {margin-top: 100px;}
p#loginTitle {font-size: 14px;color: #888;margin-left: 18px;}
div#creatorProcess p {margin: 12px;font-size: 16px;color: #ccc;}
a.prevStep {color: #c6deff;}
span.currentStep {font-weight: bold;color: #034c95;}
h2#creatorTitle {margin-top: 10px;}
span.creatorProject {color: #034c95;}
div.creatorFormItem {margin: 10px;padding: 7px 0;-moz-border-radius: 15px;border-radius: 15px;text-indent: 18px;font-size: 15px;font-weight: bold;background: #f6f6f6;color: #888888;}
div.creatorFormDrop {margin: 10px;color: #888;}
.creatorInput {rloat: right;background: #f6f6f6;border: 0px;font-size: 15px;font-weight: bold;color: #888888;}
.creatorInput:focus {outline-width: 0;color: #000;}
input#creatorSubmit {width: 220px;margin: 4px 0 20px 16px;padding: 6px;background: #ccc;color: #f6f6f6;border: 0;}
